<section>
  <h4>Add new server</h4>
  <app-input
    (onChange)="serverName = $event.value"
    [serverName]="serverName"
    [serverStatus]="serverStatus"
    [onSetServerStatus]="onSetServerStatus"></app-input>

  <button
    class="btn btn-success mt-3"
    [disabled]="serverName === ''"
    (click)="onCreateServer()">Add server</button>
</section>

<section>
  <p *ngIf="listOfServers.length === 0; else noServer" class="mb-0">No server found</p>

  <ng-template #noServer>
    <div>
      <h4>List of servers {{ listOfServers.length }}</h4>
      <label>Sort by</label>
      <div class="btn-group d-block">
        <button
          *ngFor="let status of ['all', 'offline', 'online']"
          type="button"
          class="btn btn-primary"
          [disabled]="sortBy === status"
          (click)="onSortByStatus(status)"
        >
          {{ status.charAt(0).toUpperCase() + status.slice(1) }}
          ({{ status === 'all' ? listOfServers.length : getServersByStatus(status).length}})
        </button>
      </div>
    </div>
  </ng-template>

  <div class="row">
    <div *ngFor="let server of getVisibleServers(); index as i" class="col-xs-12 col-sm-6 col-md-4">
      <app-server
        [server]="server"
        [onDeleteServer]="onDeleteServer"
        [onUpdateServer]="onUpdateServer"
        [index]="i + 1"
      ></app-server>
    </div>
  </div>

  <p *ngIf="getVisibleServers().length === 0 && listOfServers.length > 0" class="mt-3 mb-0">
    No servers found with status <span [class]="sortBy">{{ sortBy }}</span>
  </p>
</section>

<app-alert *ngIf="showAlert.visible" [alert]="showAlert"></app-alert>
