<div *ngIf="server.visible">
  <hr>

  <div *ngIf="!showFields">
    <ul class="list-group">
      <li class="list-group-item">Name: {{ server.name }}</li>
      <li class="list-group-item">Status: <span [class]="server.status">{{ server.status }}</span></li>
    </ul>
    
    <div class="btn-group">
      <button (click)="onDelete()" type="button" class="btn btn-danger">Delete</button>
      <button (click)="onToggleFields()" type="button" class="btn btn-warning">Edit</button>
    </div>
  </div>

  <div *ngIf="showFields">
    <app-input
      (onChange)="serverName = $event.value"
      [serverName]="serverName"
      [serverStatus]="serverStatus"
      [onSetServerStatus]="onSetServerStatus"></app-input>
      
    <button (click)="onUpdate()" type="button" [disabled]="serverName === ''" class="btn btn-success mt-3">Save</button>
  </div>
</div>
