<div>
  <div *ngIf="!showFields; else showEdit">
    <small class="index">{{ index }}</small>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">Name: {{ server.name }}</li>
      <li class="list-group-item list-group-item-light">Status: <span [class]="server.status">{{ server.status }}</span></li>
    </ul>
    
    <div class="btn-group">
      <button (click)="onDelete()" type="button" class="btn btn-danger">Delete</button>
      <button (click)="onToggleFields()" type="button" class="btn btn-warning">Edit</button>
    </div>
  </div>

  <ng-template #showEdit>
    <div>
      <app-input
        (onChange)="serverName = $event.value"
        [serverName]="serverName"
        [serverStatus]="serverStatus"
        [onSetServerStatus]="onSetServerStatus"></app-input>
        
      <div class="btn-group mt-3">
        <button (click)="onUpdate()" type="button" [disabled]="serverName === ''" class="btn btn-success">Save</button>
        <button (click)="onToggleFields()" type="button" class="btn btn-info">Cancel</button>
      </div>
    </div>
  </ng-template>
</div>
